.AndroidStudio2.1/
.CFUserTextEncoding
.Genymobile/
.Trash/
.Xauthority
.android/
.bash_history
.bash_sessions/
.bitrise/
.boot2docker/
.cabal/
.cache/
.cocoapods/
.composer/
.config/
.connecteddata/
.cups/
.docker/
.dropbox/
.frameit/
.gem/
.ghc/
.gradle/
.itmstransporter/
.local/
.m2/
.node-gyp/
.npm/
.phantomjs/
.putty/
.rnd
.rvm/
.ssh/
.subversion/
.vagrant.d/
.vim/
.yarn-cache/
.yarn/

Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Projects/
Public/
Transporter/
Trash/
Virtualbox\ VMs/
