.bash_history
.CFUserTextEncoding
.Trash/
.boot2docker/
.cache/
.cocoapods/
.composer/
.config/
.connecteddata/
.cups/
.dropbox/
.gem/
.itmstransporter/
.local/
.node-gyp/
.npm/
.putty/
.ssh/
.subversion/
.vagrant.d/
.vim/

Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Public/
Pictures/
Projects/
Virtualbox\ VMs/
Transporter/
Trash/
