.*_history
.cabal/
.cache/
.cargo/
.cmake/
.cocoapods/
.cups/
.docker/
.elm/
.hex/
.lesshst
.local/
.mint/
.mix/
.netrc
.nexe/
.npm/
.pkg-cache/
.rustup/
.ssh/
.swiftpm/
.vim/
.viminfo/
.vscode/
.widelands/
.zcompdump
.zsh_sessions/
Applications/
Code/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Trash/
go/
iCloud Drive (Archiv)/
