{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
echo "Installing on linux ..."
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
echo "Installing on macos ..."
brew install bob tmux git zsh-vi-mode uv fzf ripgrep
bob use nightly
{{ if .use_rust -}}
brew install rustup
rustup toolchain install stable
rustup default stable
{{ end -}}
{{ if .use_aws -}}
brew install awscli kubectl helm k9s node go
{{ end -}}
{{ end -}}
